.navigationMenu {
  padding: 1rem;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.navigationMenu ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.25rem;
  flex-grow: 1;
  justify-content: center;
}

.navigationMenu li {
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigationMenu a {
  text-decoration: none;
  color: #0C0D0B;
  border-bottom: .2rem solid transparent;
  color: var(--font-color)
}

.navigationMenu li:last-child a{
  margin-right: 0;
}

.navigationMenu ul {
  padding: 0;
}

.navigationMenu a:hover,
.navigationMenu a:active,
.navigationMenu a.active {
  border-bottom: .2rem solid var(--button-contained-color);
  font-weight: 700;
}

/* ***************************************************************** */

.toggle-theme-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.toggle-theme-wrapper svg {
  font-size: 1.4rem;
  font-weight: 100;
}

.toggle-theme {
  position: relative;
  display: inline-block;
  height: 28px;
  width: 48px;
}

.toggle-theme input {
  display: none;
}

.slider {
  background-color: var(--button-contained-color);
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.2s;
}

.slider:before {
  background-color: var(--font-color-reverse);
  bottom: 4px;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

input:checked + .slider {
  background-color: var(--button-contained-color)
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ******************************************************************* */


@media (max-width: 992px) {
  .navigationMenu li {
    width: 6rem;
  }
}

@media (max-width: 768px) {
  .navigationMenu ul {
    font-size: 1rem;
  }

  .navigationMenu li {
    width: 5rem;
  }
}

@media (max-width: 768px) {

  .navigationMenu {
    position: absolute;
    left: 0;
    top: 79px;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 110px);
    background-color: var(--background-color);
    z-index: 1000;
    align-items: center;
  }

  .navigationMenu ul {
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    font-size: 2rem;
  }

  .navigationMenu {
    display: none;
  }

  .navigationMenu.expanded {
    display: flex;
  }

  .navigationMenu.expanded .toggle-theme-wrapper {
    margin-bottom: 5rem;
  }


}
