.navigation-menu {
  padding: 1rem;
}

.navigation-menu ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.25rem;
}

.navigation-menu li {
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-menu a {
  text-decoration: none;
  color: #0C0D0B;
  border-bottom: .2rem solid transparent;
}

.navigation-menu li:last-child a{
  margin-right: 0;
}

.navigation-menu ul {
  padding: 0;
}

.navigation-menu a:hover,
.navigation-menu a:active,
.navigation-menu a.active {
  border-bottom: .2rem solid #4318FF;
  font-weight: 700;
}
