.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10rem;
  margin: 2rem 0;
  flex-shrink: 0;
}

@media (max-width: 992px) {
  .navigation {
    padding: 0 3rem;
  }
}
