.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home h1 {
  font-weight: 700;
  font-size: 5rem;
}

.paragraph {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.paragraph span {
  text-decoration: underline;
}

.developer,
.product {
  width: 45%;
}

.developer {
  align-self: flex-start;
}

.product{
  align-self: flex-end;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.buttons:last-child {
  align-items: flex-end;
}

.line {
  height: 6rem;
  background-color: var(--font-color);
  width: .1rem;
}

.arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrow > svg {
  margin-bottom: 1rem;
  transform: translateY(-.2rem);
}


@media (max-width: 992px) {
  .home h1 {
    font-size: 4rem;
  }

  .paragraph {
    font-size: 1.5rem;
  }

  .developer,
  .product {
    width: 48%;
  }
}

@media (max-width: 768px) {
  .home {
    flex-direction: column;
    gap: 5rem;
  }

  .developer,
  .product {
    width: 75%;
  }
}


@media (max-width: 576px) {
  .developer,
  .product {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .developer,
  .product {
    width: 100%;
  }

  .developer h1 {
    font-size: 2.5rem;
  }

  .paragraph {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .home {
    gap: 2rem;
  }
}
