.projects ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  list-style: none;
  gap: 2rem;
  text-align: left;
}

.projects a {
  display: inline-block;
  margin-top: 1rem;
  font-size: 5rem;
  padding: 1rem 2rem;
  color: var(--font-color);
  text-decoration: none;
  transition: all .3s;
  border-radius: 10rem;
}

.projects a:hover {
  background-color: var(--button-contained-color);
  color: var(--font-color-reverse);
}

@media (max-width: 992px) {
  .projects a {
    margin-top: 1rem;
    font-size: 3rem;
    padding: 1rem 2rem;
  }
}


@media (max-width: 768px) {
  .projects a {
    font-size: 2.5rem;
  }

  .projects ul {
    gap: 1rem;
  }
}

@media (max-width: 480px) {
  .projects a {
    font-size: 1.75rem;
  }

  .projects ul {
    gap: 1rem;
  }
}
