.project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.projectTitle {
  margin: 5rem 0;
  align-self: center;
}

.project h3 {
  font-size: 1.5rem;
}

.project h3 span {
  margin-left: 2rem;
}

.arrow {
  font-size: 2rem;
  font-weight: 100;
  color: var(--font-footer-color);
  margin: 0 2rem
}

.line {
  width: 50%;
  height: 1px;
  background-color: var(--font-footer-color);
  margin-bottom: 5rem;
  align-self: center;
}


.images {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all;
  margin: 0 auto;
}

.mobile {
  width: 16%;
  position: absolute;
  top: 5rem;
  right: 9rem;
  animation: .5s ease-out 0s 1 slideInFromLeft;
  transition: all .5s;
}

.desktop {
  width: 90%;
  animation: .5s ease-out 0s 1 slideInFromRight;
  transition: all .5s;
}

.mobile:hover,
.desktop:hover {
  transform: scale(1.05);
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
  }
}


@keyframes slideInFromRight {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 1200px) {
  .line {
    width: 60%;
    margin-bottom: 2.5rem;
  }

  .projectTitle {
    margin: 2.5rem 0;
  }
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }

  .mobile {
    width: 100%;
    position: static;
  }

  .projectTitle {
    margin: 2.5rem 0 1rem 0;
  }

}

@media (max-width: 576px) {
  .arrow {
    font-size: 1.5rem;
  }
}
