.infos {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  gap: 3rem 2rem;
  min-height: 12rem;
  margin-bottom: 5rem;
}

.collobrators {
  list-style: none;
}

.collobrator {
  margin-top: .5rem;
  font-size: 1rem;
  font-weight: 300;
}

.project p {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.avatars {
  list-style: none;
  display: flex;
}

.avatar img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: .25rem solid var(--font-color-reverse);
  margin-right: -1rem;
}

.tech-stacks {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

.tech-stacks p {
  font-weight: 100;
  color: var(--button-contained-color);
  font-size: .75rem;
  padding: .25rem .5rem;
  border: 1px solid var(--badge-outline-color);
  border-radius: 2rem;
}

.description {
  margin: 0;
  padding: 0;
  max-width: 100%;
  display: none;
}

@media (max-width: 1200px ) {
  .infos {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px ) {
  .title {
    font-size: 1.25rem;
  }
}
