.social {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.social li {
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social a {
  color: var(--font-footer-color);
  font-size: 1rem;
}
