.btn-text {
  padding: 1rem 2rem;
  color: var(--font-footer-color);
  border-radius: 5rem;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  transition: all .4s;
}


.btn-text:hover,
.btn-text:active {
  color: var(--font-color-reverse);
  background-color: var(--button-outlined-color);
}
