.btn-outlined {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  border: 1px solid #7B61FF;
  color: #7B61FF;

  border-radius: 5rem;
  cursor: pointer;
  text-decoration: none;
  transition: all .4s;
}

.btn-outlined svg {
  font-size: 1.25rem;
  margin: 0 .5rem;
}

.btn-outlined p {
  margin-top: 0;
}

.btn-outlined:hover,
.btn-outlined:active {
  background-color: #7B61FF;
  color: #fff;
}
