.layout {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 70rem;
  flex: 1 0 auto;
}

@media (max-width: 1200px ) {
  .layout {
    max-width: 60rem;
  }
}

@media (max-width: 992px) {
  .layout {
    margin: 0 2rem;
  }
}



@media (max-width: 576px) {
  .layout {
    margin: 0 1rem;
  }
}
